.card-container {
  background-color: #313131;
  color: #fff;
  padding: 1.5rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
